---
// Badges page
import BaseLayout from "@/layouts/BaseLayout.astro";
import T from "@/components/T.astro";
import { Image } from 'astro:assets';
import { siteUrl, siteName } from '@/lib/constants';

// Badge data
const BADGES = [
  // personal
  { id: "personal", name: "Jarema's badge", src: "/badge.png", alt: "A pixel art banner with a thin blue border of a smiling boy with brown hair and blue headphones", category: "personal", url: siteUrl, description: "My personal badge depicting me in headphones under the stars." },
  { id: "badge-eesti", name: "Eesti", src: "/badge-eesti.png", alt: "My personal badge, with a frame of Estonia's flag.", category: "personal", url: siteUrl, description: "The same personal badge, just with the Estonia flag frame." },
  { id: "retrokid", name: "retrokid", src: "/retrokid.gif", alt: "An animated retro banner showing the pixelated text retrokid.", category: "personal", url: "/retro", description: "A retro badge for the retro mode! I have a site version for Netscape!" },
  // other-sites
  { id: "people-pledge", name: "People Pledge", src: "/people_pledge_badge_party_cream_pink_88x31.png", alt: "A banner with a thin light pink border, showing the text People Pledge next to a party popper icon, both are in pink. The background is light yellow.", category: "other-sites", url: "https://people.pledge.party/", description: "I pledge to the People Pledge. See https://people.pledge.party" },
  { id: "no-web3", name: "Keep the web free, say no to Web3", src: "/saynotoweb3_88x31.gif", alt: "An animated black banner showing the text Keep the web free, say no to Web3 in green.", category: "other-sites", url: "https://yesterweb.org/no-to-web3/", description: "We can make a better, free, decentralized internet without crypto, NFT or Web3 crap." },
  { id: "kagi-smallweb-yellow", name: "Kagi Small Web", src: "/kagi-smallweb-yellow.gif", alt: "An animated banner with the dog mascot Doggo of the Kagi search engine hopping up and down, next to the text Small web. The background is light yellow.", category: "other-sites", url: "https://kagi.com/smallweb", description: "This website is part of the Kagi Small Web initiative by the Kagi search engine. Learn more at https://blog.kagi.com/small-web" },
  { id: "kagi-smallweb-white", name: "Kagi Small Web", src: "/kagi-smallweb.gif", alt: "An animated banner with the dog mascot Doggo of the Kagi search engine hopping up and down, next to the text Small web. The background is white.", category: "other-sites", url: "https://kagi.com/smallweb", description: "Same badge in white background" },
  { id: "osm-button", name: "OpenStreetMap", src: "/osm-button.png", alt: "A banner with the OpenStreetMap logo and the text OpenStreetMap next to it.", category: "other-sites", url: "https://www.openstreetmap.org/", description: "I contribute to OpenStreetMap, and so should you!" },
  { id: "developed-by-human", name: "Developed by a human", src: "/Developed-By-a-Human-Not-By-AI-Badge-black.png", alt: "A black banner that reads Developed by a human, Not by AI.", category: "other-sites", url: "https://notbyai.fyi/", description: "This site was developed by a human. (not 88x31, but close!)" },
  // software
  { id: "fedora", name: "Fedora", src: "/fedora.gif", alt: "A banner showing the text Powered by in black with white background, above the Fedora Linux wordmark with dark blue background.", category: "software", url: "https://fedoraproject.org/", description: "This user is proudly a Fedora Linux user and contributor." },
  { id: "firefox", name: "Firefox", src: "/firefox4.gif", alt: "An animated banner with a dark blue background and orange border, showing the Firefox logo next to the text alternating between Tested on and Firefox, both texts in orange.", category: "software", url: "https://www.mozilla.org/en-US/firefox/new/", description: "This website is primarily tested on the Firefox browser" },
  { id: "anything-but", name: "Anything But Chrome", src: "/anythingbut.gif", alt: "A banner showing the Chrome logo crossed out with a No sign, next to the words Anything But Chrome in black.", category: "software", url: "/blog/2025/08/anything-but-chrome", description: "I'm willing to use anything EXCEPT Chrome. Never Chrome." },
  { id: "browser-monopolies", name: "Hate browser monopolies", src: "/browsermonopolies.png", alt: "A small banner reading All my friends hate browser monopolies.", category: "software", url: "/blog/2025/08/anything-but-chrome", description: "All my friends use a browser that's not Chrome!" },
  { id: "bitwarden", name: "Bitwarden", src: "/bitwarden.gif", alt: "A banner showing the Bitwarden logo, next to the word Bitwarden", category: "software", url: "https://bitwarden.com/", description: "Bitwarden the password manager is peak" },
  { id: "linux-powered", name: "Linux powered", src: "/linux_powered.gif", alt: "An animated banner showing the text Linux powered next to the Tux logo", category: "software", url: "https://distrochooser.de/", description: "This user is powered by Linux, and so is the server for this website." },
  { id: "stop-microsoft", name: "Stop Microsoft", src: "/stop_microsoft.gif", alt: "A banner with the Microsoft Windows logo, next to the text Stop Microsoft.", category: "software", url: "https://endof10.org", description: "Nope, not liking Windows 11. Use Linux instead." },
  { id: "lynx", name: "Lynx browser", src: "/lynxnow.gif", alt: "A banner with the Lynx browser logo, next to the text Lynx Now!", category: "software", url: "https://lynx.invisible-island.net/", description: "Lynx is goated, trust" },
  { id: "ncsa", name: "NCSA", src: "/ncsa.gif", alt: "A banner with the NCSA logo.", category: "software", url: "https://www.ncsa.illinois.edu/research/project-highlights/ncsa-mosaic/", description: "The NCSA made Mosaic, the first popular web browser!" },
  // web
  { id: "humanstxt", name: "humans.txt", src: "/humanstxt.png", alt: "A banner showing the humans.txt wordmark", category: "web", url: "/humans.txt", description: "Information about me! Hi, I'm the human behind this website." },
  { id: "valid-rss", name: "Valid RSS", src: "/valid-rss-rogers.png", alt: "A banner showing the RSS logo next to the text Valid RSS and a green checkmark", category: "web", url: "/rss.xml", description: "Valid RSS feed" },
  { id: "valid-atom", name: "Valid Atom", src: "/valid-atom.png", alt: "A banner showing the Atom logo next to the text Valid and a white checkmark", category: "web", url: "/atom.xml", description: "Valid Atom feed" },
  { id: "got-html", name: "Got HTML?", src: "/got_html.gif", alt: "A banner showing the text Got HTML? in black", category: "web", url: null, description: "Give me some of that HTML" },
  { id: "js-warning", name: "JavaScript warning", src: "/js-warning.gif", alt: "A banner showing a caution sign next to the text Warning: Page contains JavaScript!", category: "web", url: null, description: "Careful, the floor has JS!" },
  { id: "best-viewed", name: "Best viewed with Eyes", src: "/best_viewed_with_eyes.gif", alt: "An animated pixel art banner with the word Best in vertical and red background, next to the text viewed with Eyes in horizontal and gray background. At the right is a blinking pair of eyes emoji in black background.", category: "web", url: null, description: "This site is, of course, best viewed with eyes!" },
  { id: "any-browser", name: "Any browser", src: "/any_browser.gif", alt: "A banner with the A logo, next to the text Best viewed with Any browser.", category: "web", url: "/retro", description: "This site is best viewed with any browser. I have a retro mode!" },
  { id: "internet-privacy", name: "Internet privacy Now!", src: "/internetprivacy.gif", alt: "An animated pixel art banner with a spinning globe, next to the words Internet privacy in black, and Now! in red.", category: "web", url: null, description: "Let's make internet privacy common again" },
  { id: "button-2019", name: "Still using buttons in 2019!", src: "/button2019.gif", alt: "A banner showing the text Still using buttons in 2019!", category: "web", url: null, description: "Yes, I'm still using buttons in... *checks calendar* 2026!" },
  { id: "button-webdesign", name: "Web design is my passion", src: "/buttonwebdesign.gif", alt: "An animated banner showing the flashing text web design is my passion, with an orange cat holding art brushes in the background.", category: "web", url: "https://jarema.neocities.org/", description: "Neocities is my love, web design is my passion" },
  { id: "graphic-design", name: "Graphic design is my passion", src: "/graphicdesign.png", alt: "A cyan banner showing a frog in white background signifying an image without transparency, with the text graphic design is my passion in blood red.", category: "web", url: null, description: "Yes I love graphic design! I'm very capable of it! Totally!" },
  { id: "css-is-awesome", name: "CSS is awesome", src: "/css.png", alt: "A banner with a square and the text CSS is awesome in caps in it, but the word awesome is overflowing from the square.", category: "web", url: null, description: "It is! Well, sometimes." },
  { id: "email-common", name: "Make email common again!", src: "/emailcommon.png", alt: "A banner showing an envelope icon and the words Make Email Common Again next to it.", category: "web", url: "mailto:hello@jarema.me", description: "My email inbox is always open, feel free to email me!" },
  { id: "sign-guestbook", name: "Sign my guestbook", src: "/sign_guestbook1.gif", alt: "A banner with the text Sign my guestbook, next to an icon of a guestbook.", category: "web", url: "/guestbook", description: "Feel free to sign my guestbook!" },
  { id: "cute-font", name: "Cute font user", src: "/cutefontuser.gif", alt: "A banner with two cats above, and the text Cute font user below.", category: "web", url: null, description: "I use cute fonts, hehe" },
  { id: "construction", name: "Under construction", src: "/underconstruction.png", alt: "A yellow banner with the text Under construction in black.", category: "web", url: null, description: "This site is always under construction." },
  { id: "www2", name: "World Wide Web", src: "/www2.gif", alt: "An animated banner with the WWW text and the Earth moving from right to left.", category: "web", url: null, description: "I miss the old web days..." },
  // fun
  { id: "miaow", name: "Miaow", src: "/join_logo.gif", alt: "An animated pixel art banner with a thin black border of a white cat sleeping on a red pillow, next to the word miaow in a blocky pixel font alternating between pink and orange. The background is white and has two small pink stars.", category: "fun", url: null, description: "Sleeping cat on a pillow, miaow!" },
  { id: "realm", name: "The Realm of Dream", src: "/bannars.gif", alt: "An animated pixel art banner with a thin pink border. The background is a rainbow and has ten small white stars. On the background is the text The Realm of Dream in a blocky pixel font alternating between black and orange, with a white outline. Above the text is five hearts with different colors.", category: "fun", url: null, description: "This is a cute realm :D" },
  { id: "dumbass", name: "Dumbass webmaster ahead", src: "/dumbass.gif", alt: "An animated banner showing the text Danger in red background and vertical, next to the words Dumbass webmaster ahead in horizontal. The word ahead is flashing. Next to the words, there is a girl in braided hairs.", category: "fun", url: null, description: "Beware! This webmaster is dumbass." },
  { id: "imagine", name: "Powered by imagination", src: "/imagine.gif", alt: "An animated banner showing the text This site is powered by in one frame and imagination in the other frame.", category: "fun", url: null, description: "Well, my imagination sure is terrible it seems..." },
  { id: "perfect-clear", name: "Perfect clear!", src: "/perfectclear.gif", alt: "An animated banner showing a Tetris gameplay, next to the words Perfect clear in white.", category: "fun", url: "/tetris", description: "Tetris, anyone?" },
  { id: "porygon2", name: "Porygon2", src: "/porygon2.gif", alt: "A banner showing the text Porygon2! and a squeaking Porygon2", category: "fun", url: null, description: "Man I'm just like Porygon2" },
  { id: "teto", name: "Kasane Teto", src: "/teto.gif", alt: "An animated banner showing Kasane Teto dancing left and right", category: "fun", url: "https://www.youtube.com/watch?v=R8fuPgbOhTM", description: "Teto teto teto *explodes*" },
  { id: "tom-and-jerry", name: "Tom and Jerry", src: "/tomandjerry.gif", alt: "An animated banner showing Tom and Jerry", category: "fun", url: "https://www.youtube.com/watch?v=5oH9Nr3bKfw", description: "This was peak and you can't convince me otherwise" },
  { id: "milktea", name: "Milk tea Now!", src: "/milktea.gif", alt: "A banner showing a cup of bubble tea, next to the words Milk tea Now!", category: "fun", url: null, description: "I crave some boba now, brb" },
  { id: "sweet", name: "Sweet homepage", src: "/sweet.png", alt: "A blue banner showing the text Sweet homepage in all caps, next to the word weet is a moon and two stars.", category: "fun", url: null, description: "Isn't this page sweet?" },
  { id: "win-xp", name: "I miss Windows XP", src: "/i-miss-xp.gif", alt: "An animated banner with the Windows XP background and the text I miss Windows XP flashing.", category: "fun", url: null, description: "Man, can we go back to Windows XP days?" },
  { id: "like-computer", name: "I like computers", src: "/i-like-computer.jpg", alt: "A banner with the computer icon and the text I like computer in caps.", category: "fun", url: null, description: "Pretty self-explanatory. Need I say more? :p" },
  { id: "clouds", name: "Clouds are nice", src: "/clouds.gif", alt: "A banner with the sky and clouds.", category: "fun", url: null, description: "I can stare at clouds all day." },
  { id: "ltt", name: "Free tech tips", src: "/ltt.gif", alt: "An animated banner with the text Free tech tips click here flashing next to Linus from Linus Tech Tips.", category: "fun", url: "https://www.youtube.com/channel/UCXuqSBlHAE6Xw-yeJA0Tunw", description: "Click in the banner!" },
  { id: "tumblr-apocolypse", name: "Tumblr apocolypse survivor", src: "/tumblrapocolypse.png", alt: "A dark purple banner with the text I survived the Tumblr apocolypse in white, next to the Tumblr logo.", category: "fun", url: null, description: "Yeah... don't remind me about it" },
];

const CATEGORIES = ["all", "personal", "friends", "other-sites", "software", "web", "fun"];
---

<BaseLayout title="Badges" description="A collection of 88x31 badges.">
  <div class="container mx-auto px-4 py-8 lg:py-12">
    <div class="max-w-4xl mx-auto">
      <header class="mb-8 text-center">
        <T key="badges.pageTitle" tag="h1" class="text-4xl font-bold mb-4" />
        <T key="badges.pageDescription" tag="p" class="text-lg text-muted-foreground" />
      </header>

      <!-- My badge section -->
      <section class="mb-12">
        <details class="border rounded-lg bg-card overflow-hidden">
          <summary class="p-4 cursor-pointer hover:bg-accent transition-colors font-semibold flex items-center gap-2">
            <T key="badges.myBadgeTitle" />
          </summary>
          <div class="p-6 border-t">
            <T key="badges.myBadgeIntro" tag="p" class="text-sm text-muted-foreground mb-4" />
              <div class="text-center mb-6">
              <Image src="/badge.png" alt="Jarema's badge" width={176} height={62} class="pixelated mx-auto" />
            </div>
            <div class="mb-4">
              <T key="badges.hotlinkUrl" tag="p" class="text-xs text-muted-foreground mb-1" />
              <code class="block bg-muted p-2 rounded text-xs overflow-x-auto select-all">{siteUrl}/badge.png</code>
            </div>
            <div class="mb-4">
              <T key="badges.htmlCodeTitle" tag="p" class="text-xs text-muted-foreground mb-1" />
              <pre class="bg-muted p-2 rounded text-xs overflow-x-auto select-all"><code>{`<a href="${siteUrl}/">
  <img src="${siteUrl}/badge.png" alt="${siteName}" width="88" height="31" style="image-rendering: pixelated;">
</a>`}</code></pre>
            </div>
            <div class="text-xs text-muted-foreground space-y-1 mt-4 p-3 bg-muted/50 rounded">
              <T key="badges.embeddingSuggestionsTitle" tag="p" class="font-medium" />
              <ul class="list-disc list-inside space-y-1">
                <li><T key="badges.suggestion1" /> <code class="bg-muted px-1 rounded">image-rendering: pixelated</code> <T key="badges.suggestion1b" /></li>
                <li><T key="badges.suggestion2" /> <code class="bg-muted px-1 rounded">{siteUrl}/</code></li>
                <li><T key="badges.suggestion3" /> <code class="bg-muted px-1 rounded">176x62</code> <T key="badges.suggestion3b" /></li>
              </ul>
            </div>
          </div>
        </details>
      </section>

      <section>
        <T key="badges.collectionHeading" tag="h2" class="text-2xl font-bold mb-4" />

        <!-- Controls -->
        <div class="flex flex-col sm:flex-row gap-4 mb-6">
          <div class="relative flex-1">
            <label for="badge-search" class="sr-only"><T key="badges.search" /></label>
            <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 h-4 w-4 text-muted-foreground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
            <input type="text" id="badge-search" placeholder="Search badges..." data-i18n-placeholder="badges.search" class="pl-10 w-full h-10 rounded-md border border-input bg-background px-3 py-2 text-sm" />
          </div>
          <select id="badge-category" class="h-10 rounded-md border border-input bg-background px-3 py-2 text-sm min-w-[150px]">
            {CATEGORIES.map((cat) => <option value={cat}><T key={`badges.categories.${cat}`} /></option>)}
          </select>
          <div class="flex gap-2">
            <button id="view-verbose" class="view-btn h-10 px-4 rounded-md text-sm font-medium bg-muted text-muted-foreground hover:bg-muted/80"><T key="badges.verboseView" /></button>
            <button id="view-badge-only" class="view-btn h-10 px-4 rounded-md text-sm font-medium bg-primary text-primary-foreground"><T key="badges.badgeOnlyView" /></button>
          </div>
        </div>

        <T tag="p" id="badge-count" class="text-sm text-muted-foreground mb-4" key="badges.showingCount" params={{ count: BADGES.length }} />

        <!-- Badges container with both views -->
        <div id="badges-container" class="badge-only">
          {BADGES.map((badge) => {
            const isExternal = badge.url && !badge.url.startsWith('/');
            const img = <Image src={badge.src} alt={badge.alt} width={88} height={31} class="pixelated hover:opacity-90 transition-opacity" loading="lazy" />;

            return (
              <div class="badge-item" data-category={badge.category} data-name={badge.name.toLowerCase()} data-description={badge.description.toLowerCase()}>
                {badge.url ? (
                  <a href={badge.url} target={isExternal ? "_blank" : undefined} rel={isExternal ? "noopener noreferrer" : undefined} title={badge.name} aria-label={badge.name}>
                    {img}
                  </a>
                ) : (
                  <span title={badge.name}>{img}</span>
                )}
                <div class="badge-details">
                  <h3 class="font-medium">{badge.name}</h3>
                  <p class="text-sm text-muted-foreground">{badge.description}</p>
                </div>
              </div>
            );
          })}
        </div>

        <div id="no-results" class="hidden text-center py-12 border rounded-md">
          <T key="badges.noResults" tag="p" class="text-muted-foreground" />
        </div>
      </section>
    </div>
  </div>
</BaseLayout>

<style>
  /* Badge only view (default) */
  #badges-container.badge-only {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem;
    border: 1px solid hsl(var(--border));
    border-radius: 0.5rem;
    background: hsl(var(--card));
  }

  #badges-container.badge-only .badge-details {
    display: none;
  }

  /* Verbose view */
  #badges-container.verbose {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }

  @media (min-width: 640px) {
    #badges-container.verbose {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 768px) {
    #badges-container.verbose {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  #badges-container.verbose .badge-item {
    border: 1px solid hsl(var(--border));
    border-radius: 0.375rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #badges-container.verbose .badge-item > :first-child {
    margin-bottom: 0.5rem;
    min-height: 31px;
    display: flex;
    align-items: center;
  }
</style>

<script>
  import { t } from '@/i18n/client';

  // View mode toggle
  const container = document.getElementById('badges-container')!;
  const toggleView = (isVerbose: boolean) => {
    container.className = isVerbose ? 'verbose' : 'badge-only';
    document.querySelectorAll('.view-btn').forEach((btn) => {
      const active = (btn.id === 'view-verbose') === isVerbose;
      btn.classList.toggle('bg-primary', active);
      btn.classList.toggle('text-primary-foreground', active);
      btn.classList.toggle('bg-muted', !active);
      btn.classList.toggle('text-muted-foreground', !active);
    });
  };

  document.getElementById('view-verbose')?.addEventListener('click', () => toggleView(true));
  document.getElementById('view-badge-only')?.addEventListener('click', () => toggleView(false));

  // Search and filter
  const searchInput = document.getElementById('badge-search') as HTMLInputElement;
  const categorySelect = document.getElementById('badge-category') as HTMLSelectElement;
  const badgeCount = document.getElementById('badge-count')!;
  const noResults = document.getElementById('no-results')!;

  const filterBadges = () => {
    const query = searchInput.value.toLowerCase();
    const category = categorySelect.value;
    let visibleCount = 0;

    document.querySelectorAll('.badge-item').forEach((el) => {
      const matches =
        (category === 'all' || el.getAttribute('data-category') === category) &&
        (!query || el.getAttribute('data-name')!.includes(query) || el.getAttribute('data-description')!.includes(query));

      (el as HTMLElement).style.display = matches ? '' : 'none';
      if (matches) visibleCount++;
    });

    const total = document.querySelectorAll('.badge-item').length;
    const showingText = t('badges.showingFiltered').replace('{{filtered}}', String(visibleCount)).replace('{{total}}', String(total));
    badgeCount.textContent = showingText !== 'badges.showingFiltered' ? showingText : `Showing ${visibleCount} of ${total} badges`;

    container.style.display = visibleCount ? '' : 'none';
    noResults.classList.toggle('hidden', visibleCount > 0);
  };

  searchInput?.addEventListener('input', filterBadges);
  categorySelect?.addEventListener('change', filterBadges);
</script>
