---
import ContactLayout from "@layouts/ContactLayout.astro"
import ContactCard from "@components/ContactCard.astro"
import { SITE, CONTACT } from "@consts"
import TopLayout from "@layouts/TopLayout.astro"

const contact = [
  {
    text: "Email",
    icon: "email",
    href: "mailto:hi@jar.tf"
  },
  {
    text: "Discord",
    icon: "discord",
    href: "https://discord.com/users/490457129090547733"
  },
  {
    text: "Telegram",
    icon: "telegram",
    href: "https://t.me/jarema_me"
  },
  {
    text: "Signal",
    icon: "signal",
    href: "https://signal.me/#eu/lTzwFNSwyplWc4hG7LQxSByIgXxGxkcoHCfTs5oK_i8PmVNMGhxFgaAD8qjgb-TE"
  },
  {
    text: "Mastodon (toot.io)",
    icon: "mastodon",
    href: "https://toot.io/@jar"
  }
  {
    text: "Mastodon (mas.to)",
    icon: "mastodon",
    href: "https://mas.to/@jarema"
  },
  {
    text: "Threads",
    icon: "threads",
    href: "https://threads.net/@jarema.says"
  },
  {
    text: "Instagram",
    icon: "instagram",
    href: "https://instagram.com/jarema.says"
  },
  {
    text: "Bluesky",
    icon: "bluesky",
    href: "https://bsky.app/profile/jartf.bsky.social"
  },
  {
    text: "Twitter / X",
    icon: "twitter",
    href: "https://twitter.com/jartf_"
  },
  {
    text: "Pronouns.‏‏‎‎page",
    icon: "pronounspage",
    href: "https://en.pronouns.page/@jerryv"
  },
  {
    text: "GitHub",
    icon: "github",
    href: "https://github.com/jartf"
  },
  {
    text: "GitLab",
    icon: "gitlab",
    href: "https://gitlab.com/jartf"
  },
  {
    text: "Google Developer",
    icon: "gdev",
    href: "https://g.dev/jarema"
  },
  {
    text: "IndieWeb",
    icon: "indieweb",
    href: "https://indieweb.org/User:Jarema.me"
  },
  {
    text: "Keybase",
    icon: "keybase",
    href: "https://keybase.io/jartf"
  },
  {
    text: "Matrix",
    icon: "matrix",
    href: "https://matrix.to/#/@jarema:matrix.org"
  },
  {
    text: "Zalo",
    icon: "zalo",
    href: "https://zaloapp.com/qr/p/ryw96g1vmzmw"
  },
  {
    text: "LinkedIn",
    icon: "linkedin",
    href: "https://linkedin.com/in/vietanhv"
  },
  {
    text: "Messenger",
    icon: "messenger",
    href: "https://m.me/denvercellphone"
  },
]
---

<ContactLayout title="Contact" description={SITE.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading text-center text-3xl">
      {CONTACT.TITLE}
    </div>
  </TopLayout>

  <div class="relative bg-white dark:bg-indigo-950">
    <div class="mx-auto max-w-screen-sm p-5 space-y-8 pb-16">

      <!-- About Section -->
      <section class="animate">
        <div>
          <p>If you want to get in touch with me about something or just to say hi, reach out on social media or send me an email. I'll get back to you as soon as possible.</p>
        </div>
      </section>

      <!-- Tech Stack Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-center text-xl text-black dark:text-white">
            Contact methods
          </p>
          <div class="w-full grid mx-auto md:grid-cols-3 sm:grid-cols-2 gap-2 mt-5">
            {contact.map(item => (
              <ContactCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
