---
import PageLayout from "@layouts/PageLayout.astro"
import DonationCard from "@components/DonationCard.astro"
import { SITE, SUPPORT } from "@consts"
import TopLayout from "@layouts/TopLayout.astro"

const intlDonationService = [
  {
    text: "Ko-fi",
    icon: "kofi",
    href: "https://ko-fi.com/jarema"
  },
  {
    text: "PayPal",
    icon: "paypal",
    href: "https://paypal.me/jaremame"
  },
  {
    text: "GitHub",
    icon: "github",
    href: "https://github.com/sponsors/jartf"
  },
  {
    text: "Liberapay",
    icon: "liberapay",
    href: "https://liberapay.com/jarema"
  },
  {
    text: "Patreon",
    icon: "patreon",
    href: "https://www.patreon.com/jartf"
  },
  {
    text: "Wise",
    icon: "wise",
    href: "https://wise.com/pay/me/vietanhv4"
  },
],

vnmDonationService = [
  {
    text: "MoMo",
    icon: "momo",
    href: "https://me.momo.vn/vietanh"
  },
  {
    text: "ZaloPay",
    icon: "zalopay",
    href: "https://zalopay.vn"
  },
],

crypto = [
  {
    text: "Bitcoin (ERC20)",
    icon: "bitcoin"
  },
  {
    text: "Monero",
    icon: "monero"
  },
]
---

<PageLayout title="Support" description={SITE.DESCRIPTION}>

  <TopLayout>
    <div class="animate page-heading text-center text-3xl">
      {SUPPORT.TITLE}
    </div>
    <div class="animate text-center text-lg mt-4">
      {SUPPORT.DESCRIPTION}
  </TopLayout>

  <div class="relative bg-white dark:bg-indigo-950">
    <div class="mx-auto max-w-screen-sm p-5 pb-16">
      <!-- Donation services -->
      <section class="animate">
        <article>
          <h2 class="text-2xl font-bold">Via a donation service</h2>
          <p class="mt-4">
            If you would like to support me, generally PayPal or Ko-fi would be the most convenient for you. Your support is greatly appreciated!
          </p>
          <div class="animate w-full grid mx-auto md:grid-cols-3 sm:grid-cols-2 gap-2 mt-5">
            {intlDonationService.map(item => (
              <DonationCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
        </article>
      </section>

      <!-- Crypto -->
      <section class="animate">
        <article>
          <h2 class="text-2xl font-bold">Cryptocurrencies</h2>
          <p class="mt-4">
            I can receive BTC and XMR via the following addresses:
          </p>
          <label>
            <input class="peer/showLabel absolute scale-0" type="checkbox" />
            <span class="animate block max-h-14 w-full px-3 py-3 overflow-hidden border border-neutral-200 dark:border-neutral-700 rounded shadow transition-all duration-300 peer-checked/showLabel:max-h-max blend">
              <h5 class="cursor-pointer text-center font-bold">Show QR Code</h5>
              <p class="grid grid-cols-2 gap-w-5">
                <img
                  width=95%
                  class="col-1 fit rounded"
                  src="BTC.png"
                  alt="Bitcoin">
                <img
                  width=95%
                  class="col-2 fit rounded"
                  src="XMR.png"
                  alt="Monero">
              </p>
              <div class="w-full grid mx-auto grid-cols-2 gap-2 mt-5 mb-2">
                {crypto.map(item => (
                  <DonationCard
                    text={item.text}
                    icon={item.icon}
                    href=''
                  />
                ))}
              </div>
            </span>
          </label>
        </article>
      </section>

      <!-- E-wallets -->
      <section class="animate">
        <article>
          <h2 class="text-2xl font-bold">Via Vietnamese e-wallets</h2>
          <p class="mt-4">
            If you are able and willing to send me money via Vietnamese e-wallets, please use one of the following:
          </p>
          <label>
            <input class="peer/showLabel absolute scale-0" type="checkbox" />
            <span class="animate block max-h-14 w-full px-3 py-3 overflow-hidden border border-neutral-200 dark:border-neutral-700 rounded shadow transition-all duration-300 peer-checked/showLabel:max-h-max blend">
              <h5 class="cursor-pointer text-center font-bold">Show QR Code</h5>
              <p class="grid grid-cols-2">
                <img
                  width=95%
                  class="col-1 fit rounded"
                  src="MoMo.jpg"
                  alt="MoMo">
                <img
                  width=95%
                  class="col-2 fit rounded"
                  src="ZaloPay.png"
                  alt="ZaloPay">
              </p>
              <div class="w-full grid mx-auto grid-cols-2 gap-2 mt-5 mb-2">
            {vnmDonationService.map(item => (
              <DonationCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
            </span>
          </label>
        </article>
      </section>

      <!-- Bank transfer -->
      <section class="animate">
        <article>
          <h2 class="text-2xl font-bold">Via bank transfer</h2>
          <p class="mt-4">
            If you prefer to send money via bank transfer, please contact me for more information. I am able to receive money in Vietnamese Dong and most major currencies.
          </p>
        </article>
      </section>
    </div>
  </div>
</PageLayout>
