---
import RetroLayout from "@/layouts/RetroLayout.astro";
import { projects } from "@/content/project-items";
---

<RetroLayout title="Projects - Jarema's retro site">
  <!-- Page title -->
  <center>
    <font size="5">
      <b>Projects</b>
    </font>
    <hr style="width: 50%">
    <font size="2">
      <i>Things I've built and worked on</i>
    </font>
  </center>

  <hr>

  <!-- Projects list -->
  {projects.filter(p => !p.hidden).map((project, index) => (
    <table width="100%" border="0" cellpadding="10" cellspacing="0" style="border: 2px groove #808080; margin-bottom: 10px;">
      <tr>
        <td>
          <font size="3">
            <b>
              {project.content.en.title}
            </b>
          </font>
          <br>
          <font size="2">
            {project.content.en.description}
          </font>
          <br><br>
          <font size="2">
            <b>Status:</b> {project.status}
            {' | '}
            <b>Category:</b> {project.category}
          </font>
          <br>
          <font size="2">
            Tags: {project.tags.map((tag, i) => (
              <span>
                [{tag}]
                {i < project.tags.length - 1 ? ' ' : ''}
              </span>
            ))}
          </font>
        </td>
      </tr>
    </table>
  ))}

  <hr>

  <!-- Back link -->
  <center>
    <font size="2">
      <a href="/retro/">&lt;&lt; Back to homepage</a>
    </font>
  </center>
</RetroLayout>
