---
import RetroLayout from "@/layouts/RetroLayout.astro";
import { projects } from "@/content/project-items";
---

<RetroLayout title="Projects - Jarema's Retro Site">
  <!-- Page title -->
  <center>
    <font size="5" color="#000080">
      <b>💻 Projects</b>
    </font>
    <hr width="50%">
    <font size="2">
      <i>Things I've built and worked on</i>
    </font>
  </center>

  <hr>

  <!-- Projects list -->
  {projects.filter(p => !p.hidden).map((project, index) => (
    <table width="100%" border="0" cellpadding="10" cellspacing="0" bgcolor={index % 2 === 0 ? '#ffffff' : '#f5f5f5'} style="border: 2px groove #808080; margin-bottom: 10px;">
      <tr>
        <td>
          <font size="3" color="#000080">
            <b>
              💻 {project.content.en.title}
            </b>
          </font>
          <br>
          <font size="2">
            {project.content.en.description}
          </font>
          <br><br>
          <font size="2">
            <b>Status:</b> {project.status}
            {' | '}
            <b>Category:</b> {project.category}
          </font>
          <br>
          <font size="1">
            Tags: {project.tags.map((tag, i) => (
              <span>
                [{tag}]
                {i < project.tags.length - 1 ? ' ' : ''}
              </span>
            ))}
          </font>
        </td>
      </tr>
    </table>
  ))}

  <hr>

  <!-- GitHub CTA -->
  <center>
    <table border="0" cellpadding="10" cellspacing="0" bgcolor="#f5f5f5" style="border: 2px solid #333;">
      <tr>
        <td align="center">
          <font size="3">
            <b>🐙 More on GitHub</b>
          </font>
          <br>
          <font size="2">
            Check out more of my work on GitHub!
            <br><br>
            <a href="https://github.com/0x4a656666">
              <b>[View My GitHub Profile]</b>
            </a>
          </font>
        </td>
      </tr>
    </table>
  </center>

  <br>

  <!-- Back link -->
  <center>
    <font size="2">
      <a href="/retro/">&lt;&lt; Back to Homepage</a>
    </font>
  </center>
</RetroLayout>
